<% include ./partials/header %>

<div class="card">
  <form class="form" action="/blogs" method="POST">
    <h1 class="form--title">New Blog</h1>

    <div class="form--item">
      <label for="title" class="form__label">Title</label>
      <input
        name="blog[title]"
        type="text"
        id="title"
        class="form__input"
        placeholder="Enter a title for the post"
        required
      />
    </div>
    <div class="form--item">
      <label for="image" class="form__label">Image</label>
      <input
        name="blog[image]"
        type="text"
        id="image"
        class="form__input"
        placeholder="Enter an image url for the post"
      />
    </div>
    <div class="form--item">
      <label for="body" class="form__label">Blog Body</label>
      <textarea
        name="blog[body]"
        id="body"
        class="form__input"
        cols="30"
        rows="10"
        required
      ></textarea>
    </div>
    <input class="btn" type="submit" value="Post Blog" />
  </form>
</div>
<% include ./partials/footer %>
